NET "iCLK"  LOC = "p1"  ;

NET "fiber_out1"  LOC = "p23"  ; #TX1
NET "fiber_out2"  LOC = "p34"  ; #TX2
NET "fiber_in"  LOC = "p33"  ; #RX

NET "limit"  LOC = "p19"  ; #limit
NET "error" LOC = "p3" ; #driver error

NET "axis_sel<0>" LOC = "p16" ; #axis select 3
NET "axis_sel<1>" LOC = "p13" ; #axis select 2
NET "axis_sel<2>" LOC = "p14" ; #axis select 1

NET "parallel_out<0>" LOC = "p7"  ; #step
NET "parallel_out<1>" LOC = "p8"  ; #dir
NET "parallel_out<2>" LOC = "p2"  ; #enable

NET "led_error" LOC = "p12" ; #error LED
NET "led_rx" LOC = "p20" ; #rx LED
NET "led_tx1" LOC = "p21" ; #tx1 LED
NET "led_tx2" LOC = "p22" ; #tx2 LED

NET "iCLK" TNM_NET = iCLK;
timespec TS_iCLK = PERIOD "iCLK" 20 ns HIGH 50%;